{% load static %}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Draco is free PSD &amp; HTML template by @afnizarnur">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="{% static "css/kube.min.css" %}"/>
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}"/>
<link rel="stylesheet" href="{% static "css/custom.min.css" %}"/>
<link rel="shortcut icon" href="{% static "css/custom.min.css" %}"/>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<style>
    .intro h1:before {
        /* Edit this with your name or anything else */
        content: 'DRACO';
    }
</style>